<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Log file target with date-appended file name -->
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/log.${shortdate}.log"
				createDirs="true" />

		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
	
		

		<!-- Log all messages with level Info or higher to logconsole -->
		<logger name="*" minlevel="Info" writeTo="logconsole" />

		<!-- Log all messages with level Info or higher to logfile -->
		<logger name="*" minlevel="Info" writeTo="logfile" />

		<!-- Log messages with level Error or higher to logconsole -->
		<logger name="*" minlevel="Error" writeTo="logconsole" />

		<!-- Log messages with level Error or higher to logfile -->
		<logger name="*" minlevel="Error" writeTo="logfile" />

		<!-- Log messages with level Fatal to logconsole -->
		<logger name="*" minlevel="Fatal" writeTo="logconsole" />

		<!-- Log messages with level Fatal to logfile -->
		<logger name="*" minlevel="Fatal" writeTo="logfile" />

	</rules>
</nlog>
